In [28]:
# Dieu
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
#Sklearn
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

import os

In [29]:
df = pd.read_csv('../data/cardio_train.csv', sep=';', index_col=0)
df['age'] = np.floor(df['age'] / 365.25)
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,50.0,2,168,62.0,110,80,1,1,0,0,1,0
1,55.0,1,156,85.0,140,90,3,1,0,0,1,1
2,51.0,1,165,64.0,130,70,3,1,0,0,0,1
3,48.0,2,169,82.0,150,100,1,1,0,0,1,1
4,47.0,1,156,56.0,100,60,1,1,0,0,0,0

In [30]:
X_train, X_valid, y_train, y_valid = train_test_split(df.drop('cardio', axis=1),
                                                      df['cardio'],
                                                      test_size=0.3,
                                                      random_state=2019)

In [31]:
rf = RandomForestClassifier(n_estimators=100, random_state=2019)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_valid)
print(accuracy_score(y_valid, y_pred))

0.7089047619047619